<div class="show-wrapper">

 <div class="show-upper">
  <div class="show-month">
   <%= @task.month.name %><span class="show-month2">月</span>
  </div>

  <div class="show-day">
  <%= @task.day.name %><span class="show-day2">日</span>
  </div>

  <div class="show-dayofweek">
   <%= @task.dayofweek.name %>
  </div>

  <div class="show-weather">
   <%= @task.weather.name %>
  </div>
 </div>
 
 <div class="show-down">
  <div class="show-middle">
   あああああ あああああ あああああ あああああ あああああ あああ
  </div>
 </div>

 <div class="show-down2">
  <div class="show-under">
  ああああああああ
  </div>
 </div>
</div>