<div class="wrapper">
 <div class="header">
  <%= render "header" %>
 </div>

 <div class="middle">
  <%= render "index_middle" %>
 </div>

 <div class="under">
  <%= render "under" %>
 </div>
</div>
