<div class="wrapper">
 <div class="header">
  <div class="header-left">
   <%= link_to "Daily-Dairy", root_path, class: 'app-name'%>
  </div>
 </div>

  <div class="new-middle">
   <%= render "show_middle" %>
  </div>

  <div class="under">
   <%= render "show_form" %>
  </div>

</div>
