
<div class="new-wrapper">

 <div class="new-header">
  <div class="new-header-left">
   <%= link_to "Daily-Diary", root_path, class: 'new-app-name'%>
  </div>
 </div>

 <div class="new-middle">
  <div class="new-frame">
   <%= render partial: "form" %>
  </div>
 </div>

 <div class="new-under">
 </div>
</div>