.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #FCD997;
  height: 120px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.header-left {
  background-color: #FCD997;
  width: 280px;
  height: 100vh;
  text-align: center;
  padding: 27px;
}
.app-name {
  font-size: 35px;
  font-weight: 900;
  color: #666666;
  text-decoration: none;
}

.header-right{
  background-color: #FCD997;
  height: 120px;
  width: 400px;
  display: flex;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up{
  font-size: 18px;
  font-weight: 150;
  color: #333333;
  border: 1px solid #333333;
  padding: 10px;
  margin-right: 20px;
  text-decoration: none;
}
.sign-in{
  font-size: 18px;
  font-weight: 150;
  color: #333333;
  border: 1px solid #333333;
  padding: 10px;
  text-decoration: none;
}
.sign-out{
  font-size: 18px;
  font-weight: 150;
  color: #333333;
  border: 1px solid #333333;
  padding: 10px;
  color: black;
  text-decoration: none;
}


.middle {
  background-color: #f8ffff;
  height: 590px;
  width: 100vw;
  padding: 40px 160px;
  overflow: scroll;
}
.middle-calender {
  display: block;
}
.link{
  color: #333333;
  display: flex;
  text-decoration: none;
}
.calender-all {
  background-color: #f0ffff	;
  font-family: cursive;
  display: flex;
  margin-bottom: 10px;
}
.calender-left {
  margin-right: 50px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.calender-day {
  font-size: 30px;
  font-family: cursive;
}
.calender-day2 {
  font-size: 15px;
}
.calender-month {
  font-size: 19px;
  font-family: cursive;
}
.calender-month2 {
  font-size: 12px;
}
.calender-right {
 margin-left: 10px;
}
.calender-upper {
  margin-left: 500px;
  font-size: 13px;
}
.calender-title {
  font-size: 20px;
  font-family: Times New Roman;
}
.calender-sentence {
  font-size: 14px;
  font-family: Times New Roman;
}


.under {
  background-color: #FCD997;
  height: calc(100vh - 710px);
  width: 100vw;
}
.form {
  width: 150px;
  font-size: 20px;
  color: #333333;
  display: flex;
  justify-content: center;
  border: 1px solid #333333;
  padding: 10px;
  margin: 30px 200px 30px 1200px;
  text-decoration: none;
}

.new-wrapper {
  display: flex;
  flex-direction: column;
}
.new-header {
  background-color: #FCD997;
  height: 120px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.new-header-left {
  background-color: #FCD997;
  width: 280px;
  height: 100vh;
  text-align: center;
  padding: 27px;
}
.new-app-name {
  font-size: 35px;
  font-weight: 900;
  color: #666666;
  text-decoration: none;
}
.alert-warning{
  width: 200px;
  position: fixed; top: 150px; right: 1230px;
  color: red;
}

.new-middle {
  background-color: #e0ffff;
  height: 590px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-frame{
  background-color: white;
  width: 1000px;
  height: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-name{
  font-size: 30px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-name{
  font-size: 18px;
}
.form-pulldown{
  height: 35px;
  padding: 5px;
  margin: 5px;
  background-color: white;
  display: flex;
}
.select-box{
  background-color: white;
  width: 93px;
  margin-left: 3px;
}
.calender{
  display: flex;
  padding-left: 2px;
  margin: 0 10px;
  border: 1px solid black;
}
.form-control{
  padding: 10px;
  margin: 2px;
  border: 1px solid black;
}
input[type="text"] {
  width: 757px;
  height: 35px;
}
select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  appearance: menulist;
}
.form_btn{
  color: black;
  background-color: #fff0e0	;
  border: 2px solid #FCC765;
  width: 150px;
  padding: 10px;
  margin-left: 305px;
}


.new-under {
  background-color: #FCD997;
  height: calc(100vh - 710px);
  width: 100vw;
}

.show-wrapper {
  background-color: white;
  width: 1000px;
  height: 570px;
  padding: 16px 35px;
  overflow: scroll;
}
.show-upper {
  background-color: #e0ffff;
  display: flex;
  margin-bottom: 25px;
}
.show-month {
  font-size: 60px;
  font-family: cursive;
  margin-right: 10px;
  
}
.show-month2 {
  font-size: 20px;
  margin-left: 5px;
}
.show-day {
  font-size: 60px;
  font-family: cursive;
  margin-right: 10px;
}
.show-day2 {
  font-size: 20px;
  margin-left: 5px;
}
.show-dayofweek {
  font-size: 30px;
  font-family: cursive;
  margin: 35px 20px;
}
.show-weather {
  font-size: 30px;
  font-family: cursive;
  margin: 35px 20px;
}
.show-down {
  display: flex;
  align-items: center;
}
.show-middle {
 width: 950px;
 height: 75px;
 padding: 18px 25px;
 font-size: 30px;
}
.show-down2 {
  display: flex;
  align-items: center;
}
.show-under {
  background-color: white;
  width: 950px;
  margin-top: 20px;
  padding: 18px 25px;
 font-size: 18px;

 }
 .form-btn {
   height: 50px;
   width: 210px;
   display: flex;
   margin: 30px 10px 0px 1100px;
 }
.show-edit {
  font-size: 18px;
  font-weight: 150;
  color: #333333;
  border: 1px solid #333333;
  padding: 10px;
  margin-right: 20px;
  text-decoration: none;
}
.show-delete {
  font-size: 18px;
  font-weight: 150;
  color: #333333;
  border: 1px solid #333333;
  padding: 10px;
  text-decoration: none;
}

.edit-form-btn {
  color: black;
  background-color: #fff0e0	;
  border: 2px solid #FCC765;
  width: 150px;
  padding: 10px;
  margin-left: 305px;
}

.reg-field{
  margin-top: 15px;
}
input[type="text"] {
  width: 757px;
  height: 35px;
}
.reg-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
}
.reg-form {
  padding: 3px;
  margin-top: 3px;
  border: 1px solid black;
}
input[type="text"] {
  width: 757px;
  height: 35px;
}
input[type="email"] {
  width: 757px;
  height: 35px;
}
input[type="password"] {
  width: 757px;
  height: 35px;
}

.reg_form_btn{
  color: black;
  background-color: #fff0e0	;
  border: 2px solid #FCC765;
  width: 150px;
  padding: 10px;
  margin: 40px 0 0 305px;
}

.ses-form {
  padding: 3px;
  margin-top: 3px;
  border: 1px solid black;
}
input[type="text"] {
  width: 757px;
  height: 35px;
}
input[type="email"] {
  width: 757px;
  height: 35px;
}
input[type="password"] {
  width: 757px;
  height: 35px;
}
.ses-field{
  margin-top: 15px;
}
.ses_form_btn{
  color: black;
  background-color: #fff0e0	;
  border: 2px solid #FCC765;
  width: 150px;
  padding: 10px;
  margin: 40px 0 0 305px;
}
.alert{
  display: flex;
  position: fixed; top: 150px; right: 1230px;
  color: red;
}
.notice{
  display: none;
}