.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #008080;
  height: 120px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.header-left {
  background-color: orange;
  width: 280px;
  height: 100vh;
  text-align: center;
  padding: 27px;
}
.app-name {
  font-size: 35px;
  font-weight: 900;
  color: white;
  text-decoration: none;
}
.header-right{
  background-color: chocolate;
  height: 120px;
  width: 400px;
  display: flex;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up{
  font-size: 18px;
  font-weight: 150;
  color: black;
  border: 1px solid lightblue;
  padding: 10px;
  color: black;
  margin-right: 20px;
}
.sign-in{
  font-size: 18px;
  font-weight: 150;
  color: black;
  border: 1px solid lightblue;
  padding: 10px;
  color: black;
}

.middle {
  background-color: aquamarine;
  height: 590px;
  width: 100vw;
}

.under {
  background-color: #008080;
  height: calc(100vh - 710px);
  width: 100vw;
}
.form{
  width: 150px;
  font-size: 20px;
  color: azure;
  display: flex;
  justify-content: center;
  border: 1px solid lightblue;
  padding: 10px;
  margin: 30px 200px 30px 1200px;
}